.detail-box {
    margin: auto;
    max-width: 1400px;
    background-color: rgba(0, 0, 0, 0.781);
    opacity: 1;
    color: aliceblue;
    display: flex;
    height: 100%;
    justify-content: space-evenly;
}

/* .dt-title-bar {} */

#detail-title {
    font-size: 1.7em;
}

.dt-user-bar {
    display: flex;
    justify-content: space-between;
}

/* #detail-user {} */

#detail-time {
    margin-right: 1em;
}

#detail-img {
    max-width: 560px;
}

#detail-img>.img-box {
    max-width: 100%
}

#detail-content {
    margin: 2em 0;
    font-size: 1.1em;
}

.left-container {
    padding: 25px;
    max-width: 750px;
    background-color: rgb(112, 167, 167);
}

.right-container {
    padding: 25px;
    min-width: 560px;
    max-width: 750px;
    background-color: rgb(156, 135, 109);
}

.dt-content-box {
    border-radius: 10px;
}

#btns {
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

#new-comment {
    width: 100%;
}

.yt-content {
    background-color: aliceblue;
    margin-top: 1em;
    width: 100%
}

@media(max-width: 1180px) {
    .detail-box {
        flex-direction: column;
        justify-content: center;
    }

    .left-container {
        width: 750px;
        margin: 1em auto;
    }

    .right-container {
        width: 750px;
        margin: 1em auto;
    }

    #youtube-container {
        width: 700px;
    }

    #youtube-container>iframe {
        width: 700px;
    }
}

/* #comment-box { }*/
@media(max-width: 760px) {
    .detail-box {
        flex-direction: column;
    }

    .left-container {
        width: 550px;
    }

    .right-container {
        width: 550px;
    }

    #yotube-container {
        max-width: 500px;
    }

    #youtube-container>iframe {
        max-width: 500px;
    }
}

/* like */
.like-i {
    display: flex;
    flex-direction: row;
    overflow: visible;
    margin-top: 4px;
    padding: 0;
}

.like-i2 {
    display: inline-block;
}

.like-i3 {
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 8px;
    margin: 0;
}

.bi-heart2 {
    align-items: center;
    display: flex;
    justify-content: center;
    animation-duration: 0.45s;
    animation-name: like-button-animation;
    animation-timing-function: ease-in-out;
    transform: scale(1);
}

.bi-heart2 svg {
    display: block;
    position: relative;
    height: 24;
    width: 24;

    overflow: hidden;
}

.custom-link {
    cursor: pointer;
}

.img-thumbnail {
    object-fit: cover;
}