.profile_img{
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
}

td>text{
    display: block;
    margin: 10px 0 10px 0;
}

.container_myo{
    display: flex;
}