header {
    position: relative;
    z-index: 999;
}

#hd-logo {
    background-color: transparent;
    width: 150px;
}

.header-wrap {
    background-color: rgb(22, 20, 20);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2em 15%;
    color: aliceblue;
    opacity: 0.9;
}

.header-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-box-item {
    margin: auto 5px;
    cursor: pointer;
}

.header-btn {
    margin-right: 1em;
    background-color: #161414;
    padding-bottom: 7px;
    border: none;
    height: 46.2px;
}

.header-dropdown {
    height: 46.2px;
    background-color: transparent;
    padding: auto 0;
}

.header-dropdown-icon {
    width: 2em;
    margin-bottom: 1px;
}

.dropdown-toggle::after {
    display: none;
}

.header-left {
    display: flex;
}

.header-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu {
    position: fixed;
    background-color: #161414;

}

.dropdown-item {
    position: relative;
    text-align: center;
    color: aliceblue;
}

.dropdown-item {
    text-align: center;
    color: aliceblue
}
.intro-box {
    align-items: center;
}
.intro-avatar {
    visibility: hidden;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 10px;
}
#intro {
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
}

.hd-login-only {
    display: none;
}

@media(max-width: 1180px) {
    .hd-m-toggle {
        display: none;
    }

}